.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(46deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-46deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #373737;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: #444;
    transform: translate3d(0, 100%, 0);
    transition: all 0.5s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .portrait {
      width: 250px;
      height: 250px;
      background: url("../img/portrait.jpg");
      border-radius: 50%;
      border: solid 3px #77DD77; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #77DD77; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s ease-out; }
    .menu .nav-link:hover {
      color: #77DD77; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

* {
  box-sizing: border-box; }

body {
  background: #444;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;}
  .scroll-container::-webkit-scrollbar {
    display: none;
  }
  .scroll-container {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  body#bg-img {
    background: url(../img/background.png);
    background-attachment: fixed;
    background-size: cover; }
    body#bg-img:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(68, 68, 68, 0.9); }

h1, h2, h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading, h2.lg-heading, h3.lg-heading {
    font-size: 6rem; }
  h1.sm-heading, h2.sm-heading, h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem; }
    h1.sm-heading.backing, h2.sm-heading.backing, h3.sm-heading.backing {
      background: rgba(73, 73, 73, 0.5); }

a {
  color: #fff;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #77DD77; }

main {
  padding: 4rem;
  min-height: calc(100vh - 60px); }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #77DD77;
        transition: all 0.5s ease-out; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 20vh; }

.about-info {
  display: grid;
  grid-template-areas: 'bioimage bio bio'
 'experience1 experience2 experience5'
 'experience4 experience3 experience5 ';
  grid-template-columns: repeat(3, 3fr);
  grid-gap: 1rem; }
  .about-info .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: #77DD77 3px solid; }
  .about-info .bio {
    grid-area: bio;
    font-size: 1.5rem; }
  .about-info .experience-1 {
    grid-area: experience1; }
  .about-info .experience-2 {
    grid-area: experience2; }
  .about-info .experience-3 {
    grid-area: experience3; }
  .about-info .experience-4 {
    grid-area: experience4; }
  .about-info .experience {
    background: #515151;
    padding: 0.5rem;
    border-bottom: #77DD77 5px solid; }
    .about-info .experience-5 {
      grid-area: experience5; 
      color: #000;
      background: #d3d3d3;
      border-bottom: #7b19c1 5px solid;}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.7rem; }
  .projects img {
    width: 100%;
    border: 3px #fff solid; }

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem; }
  .boxes div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 6rem;
    text-align: center;
    transition: all 0.5s ease-out; }
    .boxes div:hover {
      padding: 0.5rem 1.5rem;
      background: #77DD77;
      color: #000; }
      .boxes div:hover span {
        color: #000; }

.other {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
  text-align: center;
  font-size: 1.5rem; }

.btn, .btn-dark, .btn-light {
  width: 20rem;
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem; 
  margin-top: 0.3rem;}
  .btn:hover, .btn-dark:hover, .btn-light:hover {
    background: #77DD77;
    color: #000; }

.btn-dark {
  background: black;
  color: #fff; 
  width: 28vw;}

.btn-light {
  background: #c4c4c4;
  color: #333; 
  width: 28vw;}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #2b2b2b;
  color: #fff;
  height: 60px; }

@media screen and (min-width: 1171px) {
  .projects {
    grid-template-areas: 'bioimage bio bio'
 'experience1 experience2 experience5'
 'experience4 experience3 experience5 ';
  grid-template-columns: repeat(3, 3fr); } 
  .card {
    width: 28vw;
    height: 34vh;
    position: relative;}
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .card{
    width: 40vw;
    height: 34vh;
    position: relative;}
  .btn-light, .btn-dark{
    width: 40vw;
    position: relative;}
  .projects {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-header {
      line-height: 1;
      margin-bottom: 1rem; }
  ul.menu-nav, div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show, div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .portrait {
      background: url(../img/portrait_small.jpg);
      width: 150px;
      height: 150px;
     }
     .card {
      width: 70vw;
      height: 34vh;
      position: center;}
      .btn-light, .btn-dark{
        width: 70vw;}
      .projects {
        grid-template-columns: 1fr; 
        position: center;}
  .about-info {
    grid-template-areas: 'bioimage'
 'bio'
 'experience1'
 'experience2'
 'experience3'
 'experience4'
 'experience5';
    grid-template-columns: 1fr; }
    .boxes div {
      padding: 1.5rem 2.5rem;
      font-size: 1.7rem; } 
      .boxes div:hover {
        padding: 1.5rem 2.5rem;} }

@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 10vh; }
  .card {
    width: 70vw;
    height: 28vh;
    position: center;}
  .projects {
    grid-template-columns: 1fr; }
    .boxes div {
      padding: 0.5rem 1.5rem;
      font-size: 1.7rem; } 
      .boxes div:hover {
        padding: 0.5rem 1.5rem;} }


        @import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.card {
  position: relative;
  transition: all 1s linear;
  transform-style: preserve-3d;
}

.front,
.back{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: absolute;
}

.front{
  z-index: 2;
  backface-visibility: hidden;
}

.back{
  background:#222;
  z-index: 1;
  transform: rotateY(180deg);
  padding: 1rem;
}

.item:hover .card{
  transform: rotateY(180deg);
}

.item{
  perspective: 1000px;
}



.tree {
  position: absolute;
  overflow: visible;
  fill: none;
  stroke: #00cc00;
  stroke-width: 2;
  stroke-dasharray: 1;
  stroke-dashoffset: 0;
  z-index: 1;
  height: 80%;
  left: 50%;
  top: 10%;
  transform: translateX(-100%);
  opacity: 0;
  transform-origin: top right;
  -webkit-animation: opacity 2.7s forwards linear, rotate3d 5.4s infinite linear, stoke 5.4s infinite linear;
          animation: opacity 2.7s forwards linear, rotate3d 5.4s infinite linear, stoke 5.4s infinite linear;
}
.tree:nth-of-type(1n) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.tree:nth-of-type(2n) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}
.tree:nth-of-type(3n) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
.tree:nth-of-type(4n) {
  -webkit-animation-delay: 1.35s;
          animation-delay: 1.35s;
}
.tree:nth-of-type(5n) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}
.tree:nth-of-type(6n) {
  -webkit-animation-delay: 2.25s;
          animation-delay: 2.25s;
}
.tree:nth-of-type(7n) {
  -webkit-animation-delay: 2.7s;
          animation-delay: 2.7s;
}
.tree:nth-of-type(8n) {
  -webkit-animation-delay: 3.15s;
          animation-delay: 3.15s;
}
.tree:nth-of-type(9n) {
  -webkit-animation-delay: 3.6s;
          animation-delay: 3.6s;
}
.tree:nth-of-type(10n) {
  -webkit-animation-delay: 4.05s;
          animation-delay: 4.05s;
}
.tree:nth-of-type(11n) {
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}
.tree:nth-of-type(12n) {
  -webkit-animation-delay: 4.95s;
          animation-delay: 4.95s;
}
.tree:last-of-type {
  opacity: 0.5;
}

@-webkit-keyframes opacity {
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes rotate3d {
  0% {
    transform: translateX(-100%) rotate3d(0, 1, 0, 0deg);
  }
  100% {
    transform: translateX(-100%) rotate3d(0, 1, 0, 359deg);
  }
}
@keyframes rotate3d {
  0% {
    transform: translateX(-100%) rotate3d(0, 1, 0, 0deg);
  }
  100% {
    transform: translateX(-100%) rotate3d(0, 1, 0, 359deg);
  }
}
@-webkit-keyframes stoke {
  0% {
    stroke-dasharray: 1;
    stroke-dashoffset: 0;
  }
  50% {
    stroke: #00cc00;
  }
  51% {
    z-index: 0;
  }
  60% {
    stroke: #D32C2C;
    z-index: 0;
  }
  90% {
    stroke: #D32C2C;
    z-index: 0;
  }
  99% {
    z-index: 0;
  }
  100% {
    stroke: #00cc00;
    stroke-dashoffset: 100;
  }
}
@keyframes stoke {
  0% {
    stroke-dasharray: 1;
    stroke-dashoffset: 0;
  }
  50% {
    stroke: #00cc00;
  }
  51% {
    z-index: 0;
  }
  60% {
    stroke: #D32C2C;
    z-index: 0;
  }
  90% {
    stroke: #D32C2C;
    z-index: 0;
  }
  99% {
    z-index: 0;
  }
  100% {
    stroke: #00cc00;
    stroke-dashoffset: 100;
  }
}